* {
     box-sizing: border-box; 
}

body{
  font-family: 'Noto Sans', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  background:black;

}

header{
	width:100%; 
	background:black; 
	height:60px; 
	line-height:60px;
	border-bottom:1px solid black;
  
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.8em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

span{
padding-left:20px;
}

a{
color:#336699;
}

.wrapper{
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
width: 360px;
height: 360px;
}

.testimage{
 width: 400px;
 max-width: 100%;
}

.center{
 
  margin-top: 0px;
  padding-top: 75px;
  opacity: .83;
  top: 0;
  left: 4%;
  width: 290px;
  position: absolute;
}



.text {
  white-space: nowrap;
  filter: url(#filter);
  outline: none;
  font: 4vmax/1 Arial Black, sans-serif;
  padding-bottom: 0px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}  
  
  &::selection {
    background: rgba(0,0,0,.15);
  }

.bunnylogo{
position: relative;
  }

svg {
  position: absolute;
  width: 0;
  height: 0;
}

.firstimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 100%;
}
  
  .gallery{
  background-color: lightgrey;
  width: 360px;
}




@media only screen and (min-width: 1024px){
.wrapper{
height: 550px;
width: 500px;
  }
.testimage{
 width: 500px;
 max-width: 100%;
}

.center{
 
  margin-top: 0px;
  padding-top: 100px;
  opacity: .83;
  top: 0;
  left: 9%;
  width: 410px;
  position:absolute;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
  
 .wrapper{
height: 550px;
width: 500px;
  }
.testimage{
 width: 500px;
 max-width: 100%;
}

.center{
 
  margin-top: 0px;
  padding-top: 100px;
  opacity: .83;
  top: 0;
  left: 9%;
  width: 410px;
  position:absolute;
}
}


@media only screen and (min-width:411px) and (max-width: 767px){
 .wrapper{
width: 360px;
height: 360px;
  }
 .testimage{
 width: 400px;
 max-width: 100%;
}

.center{
 
  margin-top: 0px;
  padding-top: 74px;
  opacity: .83;
  top: 0;
  left: 9%;
  width: 290px;
  position:absolute;
}
  
}
@media only screen and (min-width: 375px) and (max-width: 410px){
  .wrapper{
height: 350px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 375px){
.wrapper{
width: 360px;
height: 360px;
  }

.testimage{
 width: 400px;
 max-width: 100%;
}

.center{
 
  margin-top: 0px;
  padding-top: 74px;
  opacity: .83;
  top: 0;
  left: 9%;
  width: 290px;
  position:absolute;
}
  
}
